<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="Bootstrap.php">
    <php>
        <var name="DB_DSN" value="mysql:host=localhost;dbname=bh_test_database" />
        <var name="DB_USER" value="bh_test_user" />
        <var name="DB_PASS" value="bh_test_pass" />
        <var name="DB_NAME" value="bh_test_database" />
    </php>
    <logging>
        <log
        type="coverage-html"
        target="Report"
        />
    </logging>
</phpunit>
