html * {
    color: #333;
}

html a:hover {
    color: #777;
}

#header, #main, #footer {
    background-color: #fff;
}

.ctrow:nth-child(2n) {
    background-color: #fafafa;
}

html, .ctrow:hover {
    background-color: #eee;
}
