html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    margin-left: calc(100vw - 100%);
}

#main {
    flex-grow: 1;
}

#content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

@media (max-width: 800px) {
    #header, #main, #footer {
        width: 94%;
        padding-left: 3%;
        padding-right: 3%;
    }

    #header .cmenu li {
        display: inline-block;
    }
}

@media (max-width: 800px) {
    .depage-form input {
        width: 99% !important;
    }
}

@media (min-width: 800px) {
    #header, #main, #footer {
        margin-left: auto;
        margin-right: auto;
        width: 640px;
        padding-left: 80px;
        padding-right: 80px;
    }
}
