html * {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    line-height: 22px;
    text-decoration: none;
}

#header {
    padding-top: 50px;
    padding-bottom: 40px;
}

#main {
    padding-bottom: 80px;
}

.depage-form {
    max-width: 100% !important;
}

.depage-form img {
    width: 65%;
    padding: 0.2em;
    border: 1px solid #999999;
}

.depage-form input[type=submit] {
    background: #ddd !important;
    border-color: #ddd !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    cursor: pointer;
}

.cmenu {
    border-bottom: solid 1px #444;
    text-transform: uppercase;
    padding-bottom: 13px;
}

.cthead {
    border-bottom: 1px solid #ddd;
}

.ctable {
    width: 100%;
}
