#cookieConsent {
    display: none;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#cookieConsent > div:hover {
    opacity: 1;
}

#cookieConsent > div {
    opacity: 90%;
    width: 80%;
    margin: 0 auto 0 auto;
    background-color: #fff;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    border-top: 3px solid #ccc;
    padding: 40px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#cookieConsent.visible {
    display: block;
}

#cookieConsent .ccbtn, #cookieConsent .cctext {
    display: table-cell;
    vertical-align: middle;
}

#cookieConsent .ccwrap {
    display: table;
    margin: 0 auto;
}

#cookieConsent button:hover {
    background-color: #000;
}

#cookieConsent button {
    border: none;
    color: #fff;
    background-color: #333;
    padding: 6px 14px;
    margin: auto 10px;
    cursor: pointer;
}
