.ctable {
    display: table;
}

.ctheader {
    display: table-header-group;
}

.ctrow {
    display: table-row;
}

.ctrow.ctdeleted {
    text-decoration: line-through;
}

.ctcell, .cthead {
    display: table-cell;
}
